<div class="card">
    <div class="card-content  blue-grey darken-1" style="padding: 0 0 10px 0;">

        <div class="card-content white-text">
            <span class="card-title">Question {{ questionId }}:
                <ul class="social-network social-circle">
                    <li><a href="#deletemodal{{questionId}}" class="deleteQuestion pull-right  modal-trigger" title="Remove Question"><i class="fa fa-times"></i></a></li>
                    <li><a href="#editmodal{{questionId}}" class="editQuestion pull-right modal-trigger" title="Edit Question"><i class="fa fa-pencil-square-o"></i></a></li>
                </ul></span>
            <p dd-text-collapse dd-text-collapse-max-length="175" dd-text-collapse-text="{{ question }}"></p>


        </div>

        <div class="card-action center" style="padding-bottom: 0">
            <a style="background-color: transparent;text-decoration: none;" class="activator">
                <i class="material-icons">library_add</i> Give Answer
            </a>
        </div>
    </div>

    <div class="card-reveal" style="padding: 10px">
        <span class="card-title"><i class="material-icons right">close</i></span>
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" data-length="120" ng-model="newAnswer" required></textarea>
            <label for="textarea1">Answer</label>
            <button class="btn waves-effect waves-light blue-grey left" type="button"
                    ng-class="{'disabled':  newAnswer == undefined}"
                    ng-click="addNewAnswer(newAnswer, questionId)">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });

</script>
<!-- Modal Structure -->
<div id="deletemodal{{questionId}}" style="height: fit-content; width: fit-content;border-radius: 6px;" class="modal">
    <div class="modal-content">
        <h5>Are you sure you want to remove?</h5>
        <a ng-click="removeQuestion(questionId)" class=" modal-action modal-close waves-effect waves-red btn-flat">Yes</a>
        <a  class=" modal-action modal-close waves-effect waves-blue btn-flat">No</a>
    </div>
</div>

<div id="editmodal{{questionId}}" style="height:fit-content; border-radius: 6px;" class="modal">
    <div class="input-field" style="margin: 20px;">
        <textarea id="textarea2" class="materialize-textarea" value="" ng-model="question" required></textarea>
        <button  style="margin-bottom: 10px;" class="btn  modal-action modal-close waves-effect waves-light blue-grey left" type="button"
                ng-class="{'disabled':  question == undefined}"
                ng-click="updateQuestion(questionId)">Update
            <i class="material-icons right">update</i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="box no-border-box">
            <div class="box-body">

                <div ng-repeat="i in [0,1,2,3,4]">
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5 style="margin-top: 0">Answer {{i}}:</h5>
                        </div>
                        <div class="col-sm-9" >
                            <p dd-text-collapse dd-text-collapse-max-length="230" dd-text-collapse-text="{{ longText }}"></p>
                        </div>
                        <div class="col-sm-1">
                            <ul class="social-network social-circle">
                                <li><a ng-click="addVote(i, 1)" class="icoVoteUp" title="Vote Up"><i class="fa fa-thumbs-up"></i></a></li>
                                <li><h5 animate-on-change anim-class="rotate"
                                        class="myVotes"
                                        ng-class="{'neg-votes':  allVote[i] < 0, 'pos-votes':  allVote[i] > 0}"
                                        value = "{{allVote[i]}}">{{allVote[i]}}
                                    </h5>
                                <li>
                                <li><a ng-click="addVote(i, -1)" class="icoVoteDown" title="Vote Down"><i class="fa fa-thumbs-down"></i></a></li>

                            </ul>
                        </div>
                        <span ng-if="hasVoted[i]">Voted</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>