<div class="row" style="margin-bottom: 10px">
    <div class="card horizontal col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="card-image ask-question-image">
            <!--<img style="height: inherit;width: 200px;">-->
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h4>Any question in mind?</h4>
                <div class="card-action center" style="padding-bottom: 0">
                    <a style="background-color: transparent;text-decoration: none;"
                       href="#askQuestion"
                       class="modal-trigger">
                        <strong>ASK</strong>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });

</script>
<div id="askQuestion" style="height:fit-content; border-radius: 6px;" class="modal">
    <div class="input-field" style="margin: 20px;">
        <label for="newquestion">New question*</label>
        <textarea id="newquestion" class="materialize-textarea"  ng-model="newQuestion" required></textarea>
        <button  style="margin-bottom: 10px;" class="btn  modal-action modal-close waves-effect waves-light blue-grey left" type="button"
                 ng-class="{'disabled':  newQuestion == undefined}"
                 ng-click="askQuestion(newQuestion)">Ask
            <i class="material-icons right">help_outline</i>
        </button>
    </div>
</div>


<div class="row" style="text-align: justify;">
<div ng-repeat="i in [0,1,2,3,4]" class="col col-sm-12 col-md-6">
    <div class="card">
        <div class="card-image" style="height: 100%">
            <a href="#/{{i}}/details" class="btn-floating halfway-fab waves-effect waves-light red" style="width: 35px;height: 35px;">
                <i class="material-icons">details</i>
            </a>
        </div>
        <div class="card-stacked">
            <div class="card-content" style="padding-bottom: 0">
                <p style="font-size: large;font-weight: 600;" dd-text-collapse dd-text-collapse-max-length="175" dd-text-collapse-text="Lorem ipsum dolor sit amet,
                 consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.">
                </p>
                <br>
                <p class="pull-right" style="color: #999;font-size: smaller;font-weight: 500;"><em>Posted on: Sep 22, 2017</em></p>
                <a href="#"><p class="" style="color: #999;font-size: smaller;font-weight: 500;"><em>Posted by: Harshil Vasani</em></p></a>

            </div>
            <div class="card-action">
                <p dd-text-collapse dd-text-collapse-max-length="175" dd-text-collapse-text="Lorem ipsum dolor sit amet,
                 consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.">
                </p>
            </div>
        </div>
    </div>
</div>
</div>