<div class="row">
    <div class="col-sm-12">
        <div class="box" style="border-color: #4d636f;">
            <div  style="text-align : center; margin: 0">
                <p style="color: #254061; font-size: x-large; margin: 0">Login</p>
            </div>

            <div class="box-body">
                <form name="loginForm" ng-submit="loginModel.login(loginModel.user)" novalidate>

                    <div class="form-group input-field" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                        <i class="material-icons prefix">account_circle</i>
                        <label for="username">Username*</label>
                        <input type="text" name="username" id="username" ng-pattern="/^[a-zA-Z_]{5,20}/" ng-model="loginModel.user.username" class="form-control" required>
                    </div>

                    <div class="form-group input-field" ng-class="{ 'has-error' : loginForm.pwd.$invalid && !loginForm.pwd.$pristine }">
                        <i class="material-icons prefix">vpn_key</i>

                        <label for="password">Password*</label>
                        <input type="password" id="password" name="pwd" class="form-control" ng-model="loginModel.user.password" ng-minlength="8" ng-maxlength="20" required>
                    </div>

                    <button id="login" type="submit" ng-disabled="loginForm.$invalid" class="btn waves-effect waves-light btn action-button" style="margin-left: 45px" >
                        <span>LOGIN<i class="fa fa-sign-in" style="color : #bcb666; margin-left: 5px"></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>