<div class="row"> <!--ng-controller="LoginController"  already mention in config file-->
    <!--<div id="loginLoader">-->
    <!--<img src="https://image.ibb.co/d8fv25/loading.gif" alt="Be patient..." style="display: block;  width: 20%; z-index: 1;&#10;                                                                position: absolute;top: 15%; left: 47%;"/>-->
    <!--</div>-->
    <div class="col-sm-12">
        <div class="box" style="border-color: #4d636f;">
            <div class="box-header" style="text-align : center;">
                <h3 class="box-title">
                    <p style="color: #254061; font-size: x-large;">Login</p>
                </h3>
            </div>
            <div class="box-body effect1" id="login_logout">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input type="text" ng-model="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" ng-model="password" type="password" placeholder="Password">
                </div>


                <div class="boxes" style="margin-top: 15px;margin-bottom: 10px;">
                    <input type="checkbox" id="rememberMe" value="FALSE"/>
                    <label for="rememberMe">Remember me</label>
                </div>
                <button id="loginUser" ng-click="login(username, password)" type="button" class="btn btn-default action-button" style="color: #bcb666; background-color: #4d636f; border-color: #bcb666; width : 100%">
                    <span>
              LOGIN
              <i class="fa fa-sign-in" style="color : #bcb666;"></i>
            </span>
                </button>
            </div>
        </div>
        <p>Entered User : {{ username }}</p>
        <p>Entered Password : {{ password }}</p>
        <p>location : {{ location }}
    </div>
</div>