<!--<div class="row">-->
    <!--<div class="col  offset-s2 s8">-->
        <!--<div class="card">-->
            <!--<div class="card-image">-->
                <!--<img src="http://materializecss.com/images/office.jpg"  style="height: 200px">-->
                <!--<span class="card-title" >Harshil Vasani</span>-->
                <!--<a class="btn-floating halfway-fab waves-effect waves-light red" style="height: 150px; width: 150px"><img src="https://www.w3schools.com/w3images/avatar2.png"></a>-->
            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.-->
                    <!--I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.-->
                    <!--I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.-->
                    <!--I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.-->
                    <!--I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="card">
    <div class="card-image waves-block waves-light">
        <img class="" src="http://www.monitora.to.gov.br/materialize/images/user-bg.jpg"   style="height: 200px">
        <a class="btn-floating halfway-fab waves-effect waves-light darken-2 activator"><i class="material-icons">publish</i></a>
        <a class="btn-floating halfway-fab waves-effect waves-light z-depth-4" style="height: 125px; width: 125px; left: 24px;bottom: -40px;">
            <img class="activator" src="https://www.w3schools.com/w3images/avatar2.png">
        </a>
    </div>
    <div class="card-content">
        <!--<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>-->
        <!--<p><a href="#">This is a link</a></p>-->
        <div class="row">
            <div class="col s3 offset-s2">
                <h4 class="card-title grey-text text-darken-4">Harshil Vasani</h4>
                <p class="medium-small grey-text">Web Developer</p>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">Questions</h4>
                <p class="medium-small grey-text">10</p>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">Answers</h4>
                <p class="medium-small grey-text">100</p>
            </div>
            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">Votes Earned</h4>
                <p class="medium-small grey-text">23</p>
            </div>
        </div>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Profile<i class="material-icons right">close</i></span>
        <hr>
        <div class="row" style="margin-bottom: 0px">
            <div class="col">
                <h4><i class="material-icons cyan-text text-darken-2">work</i></h4>
            </div>
            <div class="col s3">
                <h4>Web Developer</h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px">
            <div class="col">
                <h4><i class="material-icons cyan-text text-darken-2">contact_phone</i></h4>
            </div>
            <div class="col s3">
                <h4>+1 (617) 792 1855</h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px">
            <div class="col">
                <h4><i class="material-icons cyan-text text-darken-2">contact_mail</i></h4>
            </div>
            <div class="col s3">
                <h4>mail@domain.com</h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px">
            <div class="col">
                <h4><i class="material-icons cyan-text text-darken-2">person</i></h4>
            </div>
            <div class="col s3">
                <h4>hvasani</h4>
            </div>
        </div>
    </div>
</div>