<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })
</script>

<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse myMenuIcon"><i class="material-icons">menu</i></a>
        <a href="#/wall" class="brand-logo center">MiniQuora</a>
        <ul class="hide-on-med-and-down myHeader">
            <li >
                <a href="#/wall" title="QNA Wall">
                    <i class="fa fa-globe"></i></a>
            </li>
            <li >
                <a href="#/1/details" title="My Questions">
                    <i class="fa fa-user fa-stack-x"></i>
                    <strong class="fa-stack-1x icon-text">Q</strong></a>
            </li>
            <li >
                <a href="#/1/details" title="My Answers">
                    <i class="fa fa-user fa-stack-x"></i>
                    <strong class="fa-stack-1x icon-text">A</strong></a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down myHeader">
            <li>
                <a href="#/login" title="Login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#/logout" title="Logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#/register" title="Register">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#/profile"  style="text-decoration: none;" title="My Account">
                    <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar">
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li >
                <a href="#/wall" title="QNA Wall">
                    <i class="fa fa-globe"></i> QNA Wall</a>
            </li>
            <li >
                <a href="#/1/details" title="My Questions">
                    <i class="fa fa-user fa-stack-x"> <strong class="fa-stack-1x icon-text">Q</strong></i>My Questions
                    </a>
            </li>
            <li >
                <a href="#/1/details" title="My Answers">
                    <i class="fa fa-user fa-stack-x"><strong class="fa-stack-1x icon-text"> A</strong></i>My Answers
                    </a>
            </li>
            <li>
                <a href="#/login" title="Login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>Login
                </a>
            </li>
            <li>
                <a href="#/logout" title="Logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                </a>
            </li>
            <li>
                <a href="#/register" title="Register">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>Register
                </a>
            </li>
            <li>
                <a href="#/profile"  style="text-decoration: none;" title="My Account">
                    <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar">
                </a>
            </li>
        </ul>
    </div>
</nav>